html, body {
    display: block;
    justify-content: center;
    background-image: url("Pokemon\ Gen\ 1\ Colour\ Wheel.jpg"),
        linear-gradient(225deg, #0077ee 17%, #0055bb 22%, #bb0011 71%, #ff0000 79%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    min-width: 100%;
    height: 100%;
    margin: 0;
}



header {
    display:flex;
    background-color: #d30000;
    justify-content: center;
    height: 100px;
    width: 100%;
    margin: 0%;
    border-radius: 0 0 10px 10px;
    box-shadow: -10px 5px 15px #010a387c;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 46pt;
    margin: -30px;
    padding: 0%;
    color: aliceblue;
}

.container {
    display: flex;
    justify-self: center;
    justify-content: center;
    background-color: #0055BB;
    color: aliceblue;
    font-family: 'Jura', sans-serif;
    text-align: center;
    width: 1000px;
    transform: translate(38%);
    border-color: #0077EE;
    border-style: solid;
    border-width: 40px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: -10px 5px 15px #010a387c;
}

.lead {
    font-weight: bolder;
    font-size: 18pt;
}

#seconds{
    color: #ffd900;
    font-size: 20pt;
}

img {
    border-style: solid;
    border-color: #ffd900;
    border-width: 10px;
}

#pokemon-img {
   
    border-radius: 10px;
    margin-bottom: -35px;
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 300px;
}

#current-word {
    color: #ffd900;
    font-size: 30pt;
    font-weight: bolder;
    margin-bottom: 10px;
}

.form-control {
    width: 400px;
    height: 30px;
    margin-bottom: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -20px;
}

.col2 {
    margin: 0 50px 0;    
}

.instructions {
    width: 500px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.instructions h5{
    margin-bottom: -12px;
}

#message {
    font-size: 18pt;
    margin-top: 2px;
    margin-bottom: 20px;
}

#pkm-cries {
    visibility: hidden;
}